<div style="text-align: center; margin-top: 5rem;">



  <table class="table table-hover">
    <thead>
      <tr class="table-success">
        <th>Marca</th>
        <th>Tipo de producto</th>
        <th>Descripcion</th>
        <th>Disponibles</th>
        <th>Precio</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tableS" *ngFor="let item of collection.data">
        <td>{{item.marca|uppercase}}</td>
        <td>{{item.tipodeproducto}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.disponibles}} Pzs</td>
        <td>${{item.precio|number:".00"}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
          <button type="button" class="ml-2 btn btn-primary" (click)="editarProducto(content,item)">Editar</button>
        </td>

      </tr>
    </tbody>
  </table>

  <div class="botones">
    <button type="button" class="btn btn-info m-5" (click)="nuevoProducto(content)">Nuevo Producto</button>
  </div>


  <!-- Todo esto es el html del Modal (ventana emergente) -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar/Actualizar Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <!-- editamos formulario con los atributos que deseemos -->
          <form [formGroup]="prodForm">
            <div class="form-group">
              <strong><label for="">Marca</label></strong>
              <input type="text" formControlName="marca" class="form-control">
              <!-- input para capturar datos ademas de las clases necesarias para poder controlar e idenficar los valores-->
            </div>

            <div class="form-group">
              <strong><label for="">Tipodeproducto</label></strong><!-- eqtiqueta para identificar valor -->
              <input type="text" formControlName="tipodeproducto" class="form-control">
            </div>
            <div class="form-group">
              <strong><label for="">Descripcion</label></strong><!-- eqtiqueta para identificar valor -->
              <input type="text" formControlName="descripcion" class="form-control">
            </div>

            <div class="form-group">
              <strong><label for="">Disponibles</label></strong><!-- eqtiqueta para identificar valor -->
              <input type="number" formControlName="disponibles" class="form-control">
            </div>

            <div class="from-group">
              <strong><label for="">Precio</label></strong>
              <input type="text" formControlName="precio" class="form-control">
            </div>

          </form>
        </div>
      </form>
    </div>
    <!-- creamos  un div para los botones disponibles (guardar o Actualizar dependiendo del caso)-->
    <div class="modal-footer">
      <button *ngIf="updSave==false" type="button" class="btn btn-outline-dark" (click)="guardar()">Guardar</button>
      <button *ngIf="updSave==true" type="button" class="btn btn-outline-dark"
        (click)="actualizar()">Actualizar</button>
    </div>
  </ng-template>

</div>